.kutu{
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #000;

}

.user{
    background-color: whitesmoke;
}
.pass{
    background-color: whitesmoke;
}
.konpass{
    background-color: whitesmoke;
}



/* DEKSTOP VERSION */
@media (min-width: 992px) { 

    .semen{
        justify-content: center;
    }
    .btn-primary{
        margin-top: 30px;
    }   
    
}



